@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

span {
  @include flex (row, center, center);
  font-family: $letra-span;
  color: $marron;
  font-size: 50px;
  
}

.logo {
  width: 50px;
  align-items: center;
}
.menu-bar {
  display: none;
}
nav {
  justify-content: space-between;
  display: flex;

  ul {
    @include flex (row, center, space-around);
    list-style-type: none;
    width: 65%;
    margin-left: 250px;
    padding: 15px;

    li {
      :hover {
        background-color: $amarillo;
        border-radius: 10px 0;
      }
    }

    li a {
      text-decoration: none;
      color: $negro;
      font-size: 18px;
      font-weight: 400;
    }
  }
}

.imagen-portada {
  @include flex (row, center, center);
  width: 100%;
  padding: 30px;
  
}

.letra-index {
  font-family: $letra-index;
  text-align: justify;
  margin-right: 80px;
  margin-left: 80px;
}
.descripcion {
  padding: 20px;
}
.subtitulo {
  font-family: $letra-span;
  color: $marron;
  justify-content: left;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 30px;
  margin-left: 20px;
}
