@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

span {
  font-family: "Dancing Script", cursive;
  color: #9a5626;
  font-size: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.logo {
  width: 50px;
  align-items: center;
}
.menu-bar {
  display: none;
}
nav {
  justify-content: space-between;
  display: flex;

  ul {
    align-items: center;
    justify-content: space-around;
    display: flex;
    list-style-type: none;
    width: 65%;
    margin-left: 30px;
    padding: 15px;
  
  li {
    :hover{
      background-color: rgb(243, 205, 80);
      border-radius: 10px 0;
    }
  }

    li a {
      text-decoration: none;
      color: black;
      font-size: 18px;
      font-weight: 400;
    }
  }
}

.imagen-portada {
  display: flex;
  width: 100%;
  padding: 30px;
  align-items: center;
}

.letra-index {
  font-family: roboto-light sans-serif;
  text-align: justify;
  margin-right: 65px;
  margin-left: 65px;
}
.descripcion {
  padding: 10px;
}
.subtitulo {
  font-family: "Dancing Script", cursive;
  color: #9a5626;
  justify-content: left;
  padding-top: 15px;
  padding-bottom: 15px;
}

